@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /**
 *  Mixin ratio accepts a width and height and generates a pseudo
 *  element that maintains the ratio of the dimensions provided.
 */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  height: 4000px;
  padding-top: 160px;
}

.container {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
}

h1, .h1 {
  color: #00BABC;
  font-size: min(calc( 			2rem + 0.8125 			* ((100vw - 20rem) / 100) 		), 45px);
  font-weight: bold;
}

h2, .h2 {
  font-size: min(calc( 			2rem + 0.8125 			* ((100vw - 20rem) / 100) 		), 45px);
  font-weight: bold;
}

#mobile-menu-opener {
  display: none;
}
#mobile-menu-opener svg {
  width: 30px;
}
#mobile-menu-opener path {
  fill: #58595B;
}
@media (max-width: 1050px) {
  #mobile-menu-opener {
    display: block;
  }
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 0;
  transition: all 0.2s ease;
  z-index: 100;
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease;
  position: relative;
  align-items: flex-end;
}
.main-header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-header__nav ul li {
  margin: 0 min(calc( 			0.625rem + 0.625 			* ((100vw - 64rem) / 56) 		), 20px);
  display: block;
}
.main-header__nav ul a {
  color: #58595B;
  font-weight: 700;
  text-decoration: none;
  font-size: min(calc( 			0.75rem + 0.375 			* ((100vw - 64rem) / 56) 		), 18px);
}
.main-header__nav ul a:hover {
  color: #00BABC;
}
.main-header__logo--sticky {
  display: none;
}
.main-header.sticky {
  position: fixed;
  padding: 20px 0;
  transition: all 0.2s ease;
  transform: translateY(-100%);
  animation: header-entry forwards 200ms;
  box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.1);
}
.main-header.sticky .main-header__wrapper {
  align-items: center;
  transition: all 0.2s ease;
}
.main-header.sticky .main-header__logo--sticky {
  display: block;
}
.main-header.sticky .main-header__logo {
  display: none;
}
@media (max-width: 1050px) {
  .main-header {
    padding: 20px 0;
  }
  .main-header .main-header__nav {
    position: absolute;
    left: -20px;
    top: calc(100% + 20px);
    background-color: #ffffff;
    z-index: 0;
    width: 100vw;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    padding: 20px 30px;
  }
  .main-header .main-header__nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .main-header .main-header__nav li a {
    font-size: 1rem;
  }
  .main-header.opened .main-header__nav {
    transform: translateX(0%);
    transition: all 0.2s ease;
  }
}

.hero {
  position: relative;
  padding: 200px 0;
  width: 100%;
  z-index: 1;
  background-color: #2B2784;
  /*	.decoration {
  		position: absolute;
  		top: 0;
  		right: 0;
  		height: 100%;
  		width: 100%;
  		max-width: calc(0.6 * 100vw);
  		background: radial-gradient(circle, rgba(165,163,215,1) 0%, rgba(95,91,202,1) 23%, rgba(73,69,176,1) 53%, rgba(43,39,132,1) 73%);
  		z-index: -1;

  		&-logo {
  			position: absolute;
  			display: flex;
  			align-items: center;
  			width: 50%;
  			height: 100%;
  			z-index: 0;

  			img {
  				width: 100%;
  				height: 85%;
  				object-fit: contain;
  				object-position: bottom;
  			}
  		}

  		&-picture {
  			position: absolute;
  			height: 100%;
  			bottom: 0;
  			z-index: 1;
  			left: 15%;

  			img {
  				height: 100%;
  				aspect-ratio: 1;
  			}
  		}
  	}*/
}
@media (min-width: 75.1rem) {
  .hero {
    background-image: url(./assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 90.1rem) {
  .hero {
    background-position: right;
  }
}
@media (min-width: 120.1rem) {
  .hero {
    background-size: 1920px auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.hero h1 {
  color: #00BABC;
  font-size: 48px;
  font-weight: bold;
}
.hero p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
}
.hero-text {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.38);
  width: 100%;
}
@media (min-width: 75.1rem) {
  .hero-text {
    max-width: 600px;
  }
}
@media (max-width: 1050px) {
  .hero {
    padding-top: 100px;
  }
}

@keyframes header-entry {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about {
  padding: 65px 0;
  background-color: #00BABC;
}
.about h2 {
  color: #ffffff;
}
.about p {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  box-sizing: border-box;
}

.about-heading {
  min-height: 104px;
}

.about-body {
  position: relative;
  padding-top: 20px;
}
.about-body .about-img {
  width: 100%;
  aspect-ratio: 1;
  max-width: 300px;
  border-radius: 13.5%;
  background-image: url(./assets/images/gallery/IMG_3350.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: -10px 10px 0 #5F5BCA;
}
@media (min-width: 64.1rem) {
  .about-body .about-img {
    max-width: 500px;
  }
}
@media (min-width: 75.1rem) {
  .about-body .about-img {
    max-width: none;
  }
}

.fonoaudiologia-clinica {
  padding: 65px 0;
  position: relative;
}
.fonoaudiologia-clinica .fc-heading {
  position: relative;
}
.fonoaudiologia-clinica .fc-heading::before {
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  z-index: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00BABC;
}
.fonoaudiologia-clinica .h1 {
  position: relative;
  display: block;
  width: fit-content;
  background-color: #ffffff;
  z-index: 1;
  padding: 0 20px;
  margin-left: -20px;
}
.fonoaudiologia-clinica h3 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.fonoaudiologia-clinica p {
  font-size: 20px;
  text-align: left;
}
.fonoaudiologia-clinica .roxo {
  color: #5F5BCA;
}
.fonoaudiologia-clinica .verde {
  color: #00BABC;
}
.fonoaudiologia-clinica .fc-item {
  position: relative;
  padding: 0 20px 0 30px;
  margin-bottom: 40px;
}
.fonoaudiologia-clinica .fc-item p {
  font-size: 20px;
}
.fonoaudiologia-clinica .fc-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 21px;
  background-image: url(./assets/images/mini-logo-filled.svg);
  background-size: contain;
  background-position: center;
}
.fonoaudiologia-clinica .fc-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonoaudiologia-clinica .fc-gallery-item {
  width: 100%;
  max-width: 243px;
}
.fonoaudiologia-clinica::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 50%;
  width: 300px;
  aspect-ratio: 454/654;
  background-image: url(./assets/images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transform: rotateY(180deg) translateX(-215%);
}
@media (max-width: 775px) {
  .fonoaudiologia-clinica::after {
    display: none;
  }
}

.personal-voice {
  padding: 65px 0 0;
  background-color: #5F5BCA;
  color: #ffffff;
}
.personal-voice p {
  font-size: 20px;
}
.personal-voice .pv-icon {
  width: 100%;
  max-width: 246px;
  object-fit: contain;
}
@media (min-width: 48.1rem) {
  .personal-voice .pv-icon {
    max-width: 356px;
  }
}
.personal-voice .pv-subheading {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.personal-voice .pv-content-list {
  list-style: none;
}
.personal-voice .pv-content-list li {
  position: relative;
  margin-bottom: 5px;
}
.personal-voice .pv-content-list li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(./assets/images/check-icon.svg);
  background-size: cover;
}
.personal-voice .saiba-mais {
  width: 100%;
  background: rgb(95, 91, 202);
  background: linear-gradient(180deg, rgb(95, 91, 202) 0%, rgb(95, 91, 202) 50%, rgb(0, 186, 188) 50%, rgb(0, 186, 188) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.personal-voice .saiba-mais__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px 30px;
  gap: 30px;
  background: rgb(95, 91, 202);
  background: linear-gradient(0deg, rgb(95, 91, 202) 0%, rgb(0, 186, 188) 100%);
  border-radius: 15px;
}
.personal-voice .saiba-mais__wrapper .text {
  font-size: 30px;
  font-weight: bold;
}
.personal-voice .saiba-mais__wrapper .sb-button {
  background-color: #ffffff;
  color: #5F5BCA;
  border-radius: 10px;
  padding: 10px min(calc( 			2.5rem + 1.875 			* ((100vw - 20rem) / 100) 		), 70px);
  font-size: min(calc( 			1.375rem + 0.5 			* ((100vw - 20rem) / 100) 		), 30px);
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 1062px) {
  .personal-voice .saiba-mais__wrapper {
    justify-content: center;
  }
  .personal-voice .saiba-mais__wrapper .text {
    text-align: center;
  }
}

.capacitacao-profissional {
  padding: 65px 0 0;
  background-color: #00BABC;
}
.capacitacao-profissional p {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  box-sizing: border-box;
}
.capacitacao-profissional h2 {
  color: #ffffff;
}
.capacitacao-profissional .capacit-icon {
  width: 100%;
  max-width: 193px;
}
.capacitacao-profissional .capacit-icon.desktop {
  display: none;
}
@media (min-width: 991px) {
  .capacitacao-profissional .capacit-icon.desktop {
    display: block;
  }
}
.capacitacao-profissional .capacit-icon.mobile {
  display: none;
  margin: 0 auto 40px auto;
  max-width: 200px;
}
@media (max-width: 990px) {
  .capacitacao-profissional .capacit-icon.mobile {
    display: block;
  }
}
.capacitacao-profissional .course-box {
  background-color: #ffffff;
  width: 100%;
  min-height: 160px;
  color: #00BABC;
  font-size: min(calc( 			1.125rem + 0.375 			* ((100vw - 20rem) / 100) 		), 24px);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.capacitacao-profissional .saiba-mais {
  width: 100%;
  background: #00BABC;
  background: linear-gradient(180deg, #00BABC 0%, #00BABC 50%, #eeeeee 50%, #eeeeee 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.capacitacao-profissional .saiba-mais__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1460px;
  padding: 20px 30px;
  gap: 30px;
  background: #00BABC;
  background: linear-gradient(0deg, #00BABC 0%, #006768 100%);
  border-radius: 15px;
}
.capacitacao-profissional .saiba-mais__wrapper .text {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.capacitacao-profissional .saiba-mais__wrapper .sb-button {
  background-color: #20CF66;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px min(calc( 			2.5rem + 1.875 			* ((100vw - 20rem) / 100) 		), 70px);
  font-size: min(calc( 			1.375rem + 0.5 			* ((100vw - 20rem) / 100) 		), 30px);
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 1162px) {
  .capacitacao-profissional .saiba-mais__wrapper {
    justify-content: center;
  }
  .capacitacao-profissional .saiba-mais__wrapper .text {
    text-align: center;
  }
}

.clientes {
  background: rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  padding: 65px 0;
}
.clientes .clients-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.clientes .clients-item {
  background-color: #ffffff;
  border-radius: 5px;
  width: 227px;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientes .clients-item img {
  max-width: 60%;
  object-fit: contain;
}

.contato {
  padding: 65px 0;
  background: rgb(0, 186, 188);
  background: linear-gradient(180deg, rgb(0, 186, 188) 0%, rgb(0, 93, 94) 100%);
}
.contato h3 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.contato-info {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contato-info .whatsapp-box {
  padding: 15px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  gap: 20px;
  align-items: center;
}
.contato-info .whatsapp-box a {
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  text-decoration: none;
}
.contato-info .address-box {
  padding: 15px;
  color: #ffffff;
}
.contato .form-group {
  margin-bottom: 20px;
}
.contato .form-control {
  border: none;
  border-radius: 10px;
}
.contato button[type=submit] {
  background-color: #20CF66;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 40px;
}

/*# sourceMappingURL=styles.css.map */
