@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  height: 4000px;
  padding-top: 220px;
}
@media (max-width: 1050px) {
  body {
    padding-top: 160px;
  }
}

.container {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
}

h1, .h1 {
  color: #00BABC;
  font-size: 48px;
  font-weight: bold;
}

#mobile-menu-opener {
  display: none;
}
#mobile-menu-opener svg {
  width: 50px;
}
#mobile-menu-opener path {
  fill: #58595B;
}
@media (max-width: 1050px) {
  #mobile-menu-opener {
    display: block;
  }
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 36px 0;
  transition: all 0.2s ease;
  z-index: 100;
}
.main-header__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  transition: all 0.2s ease;
  position: relative;
}
.main-header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-header__nav ul li {
  margin: 0 20px;
}
.main-header__nav ul a {
  color: #58595B;
  font-weight: 700;
  text-decoration: none;
  font-size: calc(12px + 6 * (100vw - 981px) / 939);
}
.main-header__nav ul a:hover {
  color: #00BABC;
}
.main-header__logo--sticky {
  display: none;
}
.main-header.sticky {
  position: fixed;
  padding: 20px 0;
  transition: all 0.2s ease;
  transform: translateY(-100%);
  animation: header-entry forwards 200ms;
}
.main-header.sticky .main-header__wrapper {
  align-items: center;
  transition: all 0.2s ease;
}
.main-header.sticky .main-header__logo--sticky {
  display: block;
}
.main-header.sticky .main-header__logo {
  display: none;
}
@media (max-width: 1050px) {
  .main-header {
    padding: 20px 0;
  }
  .main-header .main-header__wrapper {
    align-items: center;
  }
  .main-header .main-header__logo img {
    height: 120px;
  }
  .main-header .main-header__nav {
    position: absolute;
    left: -20px;
    top: calc(100% + 20px);
    background-color: #ffffff;
    z-index: 0;
    width: 100vw;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    padding: 20px 0;
  }
  .main-header .main-header__nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .main-header .main-header__nav li a {
    font-size: 1rem;
  }
  .main-header.opened .main-header__nav {
    transform: translateX(0%);
    transition: all 0.2s ease;
  }
}

.hero {
  position: relative;
  padding: 200px 0;
  background-image: url(assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: right;
  width: 100%;
  z-index: 1;
  background-color: #2B2784;
  /*	.decoration {
  		position: absolute;
  		top: 0;
  		right: 0;
  		height: 100%;
  		width: 100%;
  		max-width: calc(0.6 * 100vw);
  		background: radial-gradient(circle, rgba(165,163,215,1) 0%, rgba(95,91,202,1) 23%, rgba(73,69,176,1) 53%, rgba(43,39,132,1) 73%);
  		z-index: -1;

  		&-logo {
  			position: absolute;
  			display: flex;
  			align-items: center;
  			width: 50%;
  			height: 100%;
  			z-index: 0;

  			img {
  				width: 100%;
  				height: 85%;
  				object-fit: contain;
  				object-position: bottom;
  			}
  		}

  		&-picture {
  			position: absolute;
  			height: 100%;
  			bottom: 0;
  			z-index: 1;
  			left: 15%;

  			img {
  				height: 100%;
  				aspect-ratio: 1;
  			}
  		}
  	}*/
}
.hero h1 {
  color: #00BABC;
  font-size: 48px;
  font-weight: bold;
}
.hero p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
}
.hero-text {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.38);
}
@media (max-width: 1050px) {
  .hero {
    padding-top: 100px;
  }
}

@keyframes header-entry {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about {
  padding-top: 50px;
}
.about h3 {
  color: #00BABC;
  font-size: 32px;
  font-weight: bold;
}
.about p {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  box-sizing: border-box;
}

.about-heading {
  min-height: 104px;
}

.about-body {
  position: relative;
  padding-top: 20px;
}
.about-body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(0, 186, 188);
  background: linear-gradient(180deg, rgb(0, 186, 188) 0%, rgb(0, 93, 94) 100%);
}
.about-body .about-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(assets/images/gallery/IMG_3359.png);
  background-size: cover;
  background-position: center;
}

.fonoaudiologia-clinica {
  padding: 40px 0;
}
.fonoaudiologia-clinica .fc-heading {
  position: relative;
}
.fonoaudiologia-clinica .fc-heading::before {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  z-index: 0;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #00BABC;
}
.fonoaudiologia-clinica .h1 {
  position: relative;
  display: block;
  width: fit-content;
  background-color: #ffffff;
  z-index: 1;
  padding: 0 20px;
  margin-left: -20px;
}
.fonoaudiologia-clinica h3 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.fonoaudiologia-clinica p {
  font-size: 20px;
  text-align: left;
}
.fonoaudiologia-clinica .roxo {
  color: #5F5BCA;
}
.fonoaudiologia-clinica .verde {
  color: #00BABC;
}
.fonoaudiologia-clinica .fc-item {
  position: relative;
  padding: 0 20px 0 30px;
}
.fonoaudiologia-clinica .fc-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 21px;
  background-image: url(assets/images/mini-logo-filled.svg);
  background-size: contain;
  background-position: center;
}
.fonoaudiologia-clinica .fc-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonoaudiologia-clinica .fc-gallery-item {
  width: 100%;
  max-width: 243px;
}

/*# sourceMappingURL=styles.css.map */
